#q1{
    display:none;
}
#q2{
    display:block;
}
#theleft1{
    display:block;
}
#theleft2{
    display:none;
}
#theleft3{
    display:none;
}
#ans1{
    display:none;
}
#ans2{
    display:none;
}
#ans3{
    display:none;
}
#ans4{
    display:none;
}
#ans5{
    display:none;
}
#ans6{
    display:none;
}
.subheading-edit{
    /* You feel sick and fear it’s the Corona Virus? */

position: absolute;
width: 450px;
height: 69px;
left: 50px;
top: 20px;

font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: bolder;
font-size: 27px;
line-height: 147%;
/* identical to box height, or 69px */


color: #035755;

}
