.covidmaster {
    font-size: 1em;
    font-weight: bolder;
    color: #FA5652;
}

#background-button {
    background: #035755;
    color: white;
    font-weight: bold;
    padding: 1rem;
    line-height: 4rem;
}

.safety-header {
    margin: 5em auto;
    text-align: center;
}
/* 
.header-img {
    max-width: 50vw;
    overflow: hidden;
} */

.header-row {
    max-width: 90vw;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.safety-measure {
    margin: 3rem auto;
    justify-content: center;
}

.homepage-map {
    max-width: 40vw;
    margin: 0 auto;
}

#test {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem auto;
}

#homepage-symptoms-img {
    margin: 2rem auto;
}

.list-number {
    background-color: rgba(250, 86, 82, 0.15);
    border-radius: 50%;
    padding: 1rem;
    color: #FA5652;
    line-height: 1.2;
    font-weight: bold;
}